// A block is the base module

@require '../utilities/variables';

.block {
    margin: 0 auto;
    max-width: $size-width-content;
    padding: 2em 1em;

    &--top {
        color: $color-sepia;
    }
}
