// A block is the base module

@require '../utilities/variables';
@require '../utilities/functions';

.block {
    margin: 0 auto;
    max-width: $size-width-content;
    padding: 2em 1em;

    &--top {
        color: $color-sepia;
    }

    .gray &--top {
        color: $color-white;
    }

    &--action {
        fitcontent( 9em );

        display: block;
        margin: 0 auto;
    }
}
