// A block is the base module

@require '../utilities/variables';
@require '../utilities/functions';

.block {
    @extend $cinch;
    padding: 2em 1em;

    &--top {
        background: url("../images/underline-grey.png") repeat-x 0 bottom;
        background-size: auto 2px;
        color: $color-charcoal;
    }

    .u--gray &--top {
        background: none;
        color: $color-white;
    }

    &--player {
        display: inline-block;
        vertical-align: top;
    }

    &--action {
        fitcontent( 9em );

        display: block;
        margin: 0 auto;
    }
}
