// Style the header.

.header {
    background: $color-sepia;
    height: 4.11em;
    height: 12.5vh;
    padding: 1em 2.22em;
    text-align: right;

    &--heading {
        margin: 0;
    }

    &--link {
        display: inline-block;
    }

    &--logo {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
    }
}
