// Base styles

@require 'variables';

* {
    box-sizing: border-box;
}

body {
    background: $color-white;
    color: $color-black;
    font-family: $font-helvetica;
    font-size: $size-font-base;
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-sackers;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

p + p {
    margin: 0 0 1.5em;
}

.gray {
    background: $color-gray;
    color: $color-white;
}
