// Base styles

$size-base = 1.125em;

$color-white = rgb(255, 255, 255);
$color-gray = rgb(37, 37, 37);
$color-black = rgb(0, 0, 0);
$color-sepia = rgb(242, 240, 200);
$color-red = rgb(237, 27, 37);

* {
    box-sizing: border-box;
}

body {
    background: $color-white;
    color: $color-black;
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: $size-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "SackersGothicW01-Medium", helvetica, arial, sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

p + p {
    margin: 0 0 1.5em;
}

.gray {
    background: $color-gray;
    color: $color-white;
}
