// Fonts

@require 'variables';

/*
@font-face {
    font-family: "SackersGothicW01-Light";
    src: url(http://serialpodcast.org/sites/all/themes/podcast/css../fonts/4a1690e1-e4c5-4644-bd72-2fdc50d48e44.eot%3F%23iefix);
    src: url(http://serialpodcast.org/sites/all/themes/podcast/css../fonts/4a1690e1-e4c5-4644-bd72-2fdc50d48e44.eot%3F%23iefix) format("eot"),url(http://serialpodcast.org/sites/all/themes/podcast/css/fonts/558e1882-61fa-42c9-b946-2ff0b251d89e.woff) format("woff"),url(http://serialpodcast.org/sites/all/themes/podcast/css/fonts/51d279cf-7422-4166-bea9-d5890c7b255a.ttf) format("truetype"),url(http://serialpodcast.org/sites/all/themes/podcast/css/fonts/b3e01acf-acc5-4cc3-aef6-d05b5bf3e24a.svg%23b3e01acf-acc5-4cc3-aef6-d05b5bf3e24a) format("svg");
}
*/

@font-face {
    font-family: "SackersGothicW01-Heavy";
    src: url(../fonts/SackersGothicW01-Heavy.eot#iefix);
    src: url(../fonts/SackersGothicW01-Heavy.eot#iefix) format("eot"),
        url(../fonts/SackersGothicW01-Heavy.woff) format("woff"),
        url(../fonts/SackersGothicW01-Heavy.ttf) format("truetype"),
        url(../fonts/SackersGothicW01-Heavy.svg#sackersgothicheavy) format("svg");
}

@font-face {
    font-family: "SackersGothicW01-Medium";
    src: url(../fonts/SackersGothicW01-Medium.eot#iefix);
    src: url(../fonts/SackersGothicW01-Medium.eot#iefix) format("eot"),
        url(../fonts/SackersGothicW01-Medium.woff) format("woff"),
        url(../fonts/SackersGothicW01-Medium.ttf) format("truetype"),
        url(../fonts/SackersGothicW01-Medium.svg#sackersgothic) format("svg");
}

@font-face {
    font-family: 'FlamaBasic';
    src: url(../fonts/flama-basic-webfont.eot#iefix);
    src: url(../fonts/flama-basic-webfont.eot#iefix) format('embedded-opentype'),
        url(../fonts/flama-basic-webfont.woff) format('woff'),
        url(../fonts/flama-basic-webfont.ttf) format('truetype'),
        url(../fonts/flama-basic-webfont.svg#FlamaBasic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FlamaLight';
    src: url(../fonts/Flama-Light.eot#iefix);
    src: url(../fonts/Flama-Light.eot#iefix) format('embedded-opentype'),
        url(../fonts/Flama-Light.woff) format('woff'),
        url(../fonts/Flama-Light.svg#FlamaLight) format('svg');
    font-weight: normal;
    font-style: normal;
}
