// Our variables

$size-font-base = 1.125em;
$size-width-content = 1024px;

$color-white = rgb(255, 255, 255);
$color-gray = rgb(37, 37, 37);
$color-black = rgb(0, 0, 0);
$color-sepia = rgb(242, 240, 200);
$color-red = rgb(237, 27, 37);

$font-helvetica = "Helvetica Neue", helvetica, arial, sans-serif;
$font-sackers = "SackersGothicW01-Medium", $font-helvetica;
$font-flamba = "FlamaBasic", $font-helvetica;
